*{font-family: 'Gotham'}
body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
	align-items: center;
	background: linear-gradient(135deg, rgba(43,48,59,1) 0%, rgba(63,71,88,1) 100%);
	@media (max-width: 768px){
		padding: 10px;
	}
}
h1 {
	color: #f1f2f2;
	font-size: 34px;
	letter-spacing: 5px;
	position: relative;
	@media (max-width: 768px){
		font-size: 20px;
	}
	& span {
		position: relative;
		z-index: 2;
	}
	&:before{
		content: '';
		width: calc(100% + 10px);
		height: calc(100% + 7px);
		position: absolute;
		left: -6px;
		bottom: -6px;
		background: #0CB692;
	}
}
.timer {
	display: flex;
	flex-direction: column;
	margin: 50px 0 0 0;
}
.count-row {
	display: flex;
	justify-content: center;
	margin: 0 0 20px 0;
	@media (max-width: 768px){
		margin: 0 0 10px 0;
	}
	& > div {
		width: 90px;
		text-align: center;
		font-size: 50px;
		font-weight: 500;
		color: #f1f2f2;
		margin: 0 20px;
		font-family: 'Source Code Pro', monospace;
		@media (max-width: 768px){
			margin: 0 5px;
			width: 54px;
			font-size: 30px;
		}
	}
}
.label-row {
	display: flex;
	justify-content: center;
}
.label {
	flex: 0 1 25%;
	text-align: center;
	color: rgba(241, 242, 242, 0.6);
	font-size: 16px;
	@media (max-width: 768px){
		font-size: 12px;
	}
}